ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	background: green;
}
li{
	float: right;
}
li a{
	display:block;
	color: white;
	padding: 16px;
	text-decoration: none;
}
li a:hover{
	background: gray;
}
.container{
	width: 75%;
	margin: auto;
}
.product{
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: 20px;

}

#listproduct{
	width: 100%;
}
input[type="text"]{
	background: none;
}

th{
	text-align: left;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}